In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn import metrics
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("bitcoin.csv")

In [5]:
df.head(-5)

            Date     Open     High      Low    Close    Vol.
0     2013-01-01     13.5     13.6     13.2     13.3  28.41K
1     2013-01-02     13.3     13.4     13.2     13.3  17.97K
2     2013-01-03     13.3     13.5     13.3     13.4  18.03K
3     2013-01-04     13.4     13.5     13.3     13.5  29.64K
4     2013-01-05     13.5     13.6     13.3     13.4  21.33K
...          ...      ...      ...      ...      ...     ...
3783  2023-05-12  26983.1  27044.0  25853.1  26799.2  87.49K
3784  2023-05-13  26798.7  27011.9  26695.6  26777.5  27.95K
3785  2023-05-14  26777.4  27176.1  26609.9  26920.0  26.35K
3786  2023-05-15  26920.4  27651.7  26752.1  27183.9  53.27K
3787  2023-05-16  27183.9  27295.3  26881.9  27035.3  45.29K

[3788 rows x 6 columns]

In [4]:
df.describe()

               Open          High           Low         Close
count   3793.000000   3793.000000   3793.000000   3793.000000
mean   11233.252307  11529.297996  10904.581545  11240.315766
std    15421.568722  15827.119004  14960.319732  15422.533996
min       13.300000     13.400000     13.200000     13.300000
25%      450.300000    459.600000    441.900000    451.400000
50%     5208.300000   5322.900000   5033.700000   5209.100000
75%    14976.200000  15648.300000  13902.300000  15043.000000
max    67528.700000  68990.600000  66334.900000  67527.900000